@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<div class="row">
    <div class="twitter-timeline col-md-7">
        <div id="twitterTimeline">
            <a class="twitter-timeline" data-width="600" data-height="300" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/LifeLinkGroup">Tweets by LifeLinkGroup</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

        <div id="twitterButtons">
            <a href="https://twitter.com/intent/tweet?screen_name=LifeLinkGroup" class="twitter-mention-button" data-size="large" data-show-count="false">Tweet to &#x40;LifeLinkGroup</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            <span id="followButton"><a class="twitter-follow-button" href="https://twitter.com/LifeLinkGroup" data-size="large" data-show-count="false">Follow &#x40;LifeLinkGroup</a></span>
        </div>
    </div>
</div>