@{
    ViewBag.Title = "About";
}
<h2>Our Mission</h2>
<h3></h3>

<p>
    LifeLink empowers ordinary people to perform extraordinary acts of service.
    Our blood donors are ordinary people – high school students, factory and office workers,
    business executives, parents and grandparents, and people from every walk of life.
    But they share one thing – a generous spirit, a desire to give back to their community and help others.
    Blood donors play an integral role in the delivery of modern healthcare. Many life-saving medical
    treatments and procedures involve blood transfusions and would not be possible without a safe and
    reliable blood supply.
</p>
