@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="row">
    <p>We're here to answer any questions you may have about your LifeLink experience.</p>
    <p> We promise to respond as soon as we can.</p>




        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>

