@{
    ViewBag.Title = "Home Page";
}
<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-7">
            <img class="img-responsive img-rounded" src="http://cbblifeblood.org/wp-content/uploads/2015/12/DonateBloodImage.jpg" alt="">
        </div>
        <!-- /.col-md-8 -->
        <div class="col-md-5">
            <h1>Why donate?</h1>
            <p>
                You don’t have to wear a cape or have super strength to be a hero.
            </p>
            <p>Schedule a donation today and simply look in the mirror. Your gift will make you a hero to someone.
            </p>
            <a class="btn btn-default" href="#">Register today</a>
        </div>
    </div>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                <p>
                    <strong>ATTENTION:</strong> We ask you not to donate if any Zika virus risk exposures apply to you.
                    We are asking you to return to donate blood 4 weeks after your last risk exposure. All other eligibility
                    requirements still apply.
                </p>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-3">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>

        <div class="col-md-9">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</div>
