@{
    ViewBag.Title = "Home Page";
}
<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-7">
            <img class="img-responsive img-rounded" src="http://cbblifeblood.org/wp-content/uploads/2015/12/DonateBloodImage.jpg" alt="">
        </div>
        <!-- /.col-md-8 -->
        <div class="col-md-5">
            <h1>Why donate?</h1>
            <hr />
            <p>
                You don’t have to wear a cape or have super strength to be a hero.
            </p>
            <p>Schedule a donation today and simply look in the mirror. Your gift will make you a hero to someone.
            </p>
            <a class="btn btn-default" href="@Url.Action("Register", "Account")">Register today</a>
        </div>
    </div>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                <p>
                    <strong>ATTENTION:</strong> We ask you not to donate if any Zika virus risk exposures apply to you.
                    We are asking you to return to donate blood 4 weeks after your last risk exposure. All other eligibility
                    requirements still apply.
                </p>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">

        <div class="twitter-timeline col-md-3">
            <div id="twitterTimeline">
                <a class="twitter-timeline" data-width="600" data-height="300" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/LifeLinkGroup">Tweets by LifeLinkGroup</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

            <div id="twitterButtons">
                <a href="https://twitter.com/intent/tweet?screen_name=LifeLinkGroup" class="twitter-mention-button" data-size="large" data-show-count="false">Tweet to &#x40;LifeLinkGroup</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                <span id="followButton"><a class="twitter-follow-button" href="https://twitter.com/LifeLinkGroup" data-size="large" data-show-count="false">Follow &#x40;LifeLinkGroup</a></span>
            </div>
        </div>

        <div class="col-md-3">
            <h2>Step One</h2>
            <p>
                In order to preserve the health of our community it is vital that our donors complete the questionaire eligibility form. 
            </p>
            <p><a class="btn btn-default" href="@Url.Action("Create","Questionnaires")">Learn more</a></p>
        </div>

        <div class="col-md-3">
            <h2>Step Two</h2>
            <p>You can easily be a hero. Join the league of lifelink today.</p>
            <p><a class="btn btn-default" href="@Url.Action("Create","Appointments")">Learn more</a></p>
        </div>

        <div class="col-md-3">
            <h2>Step Three</h2>
            <p>You can easily be a hero. Join the league of lifelink today.</p>
            <p><a class="btn btn-default" href="@Url.Action("Index","Addresses")">Learn more</a></p>
        </div>

 
    </div>
</div>
