@model IEnumerable<LifeLink.Models.Address>

    @{
        ViewBag.Title = "LifeLink - Location";
    }


        <div id="map"></div>
        <script>
            function initMap (){
                navigator.geolocation.getCurrentPosition(currentPosition,HomePosition);
            }
            function currentPosition(position) {
                var mapDiv = document.getElementById('map');
                var map = new google.maps.Map(mapDiv, {
                    center: {lat: position.coords.latitude , lng: position.coords.longitude},
                    zoom: 12
                });
            }

            function HomePosition(){
                @foreach (var item in Model) {
    <text>
                var mapDiv = document.getElementById('map');
                var map = new google.maps.Map(mapDiv, {
                    center: { lat: @item.Latitude, lng: @item.Longitude},
                    map: map,
                    title: 'Hello World!'
                });</text> }
            }
        </script>

<div class="row">
    <div class="twitter-timeline col-md-7">
        <h3>Check us out on Twitter</h3>
        <div id="twitterTimeline">
            <a class="twitter-timeline" data-width="600" data-height="300" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/LifeLinkGroup">Tweets by LifeLinkGroup</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

        <div id="twitterButtons">
            <a href="https://twitter.com/intent/tweet?screen_name=LifeLinkGroup" class="twitter-mention-button" data-size="large" data-show-count="false">Tweet to &#x40;LifeLinkGroup</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            <span id="followButton"><a class="twitter-follow-button" href="https://twitter.com/LifeLinkGroup" data-size="large" data-show-count="false">Follow &#x40;LifeLinkGroup</a></span>
        </div>
    </div>

    <div class="col-md-5">
        <span style="inline">
            <a class="btn btn-danger" href='@Url.Action("Create", "Questionnaires")'><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>&nbsp; Required Questionnaire</a>
            <a class="btn btn-danger" href="@Url.Action("Index", "Appointments")"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i>&nbsp; Set Appointment</a>
        </span>
    </div>
</div>


    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPhuvNN439sVvdr5Fpg4maQjMCz-FtAZM&callback=initMap">
    </script>

